---
import TagLine from "@components/TagLine.astro";
import { format } from "date-fns";
const { event } = Astro.props;
const { data } = event;

console.log(event.data.performer);
---

<li>
    <hgroup>
        <h4><a href={"/events/" + event.id}>{data.name}</a></h4>
        <TagLine tags={data.keywords} href="?keyword=" />
    </hgroup>
    <p>{data.description}</p>
    <div class="time">
        {
            data?.startDate && (
                <span>
                    <time datetime={data.startDate}>
                        {format(data.startDate, "MMM d, h")}
                    </time>
                    {data.endDate && (
                        <time datetime={data.endDate}>
                            {format(data.endDate, "- h a")}
                        </time>
                    )}
                </span>
            )
        }
    </div>
    {
        data.performer && (
            <div class="bands">
                <small>ft.</small>
                {data?.performer?.map((band) => (
                    <a href={"/bands/" + band.id}>{band.id}</a>
                ))}
            </div>
        )
    }
    {
        data.location && (
            <div class="venue">
                <small style="font-size: 1.2rem;">@</small>
                <a href={"/venues/" + data.location.id}>{data.location.id}</a>
            </div>
        )
    }
    {
        data.url && (
            <p>
                <a href={data.url}>Event Page</a>
            </p>
        )
    }
</li>

<style>
    li {
        list-style: none;
    }
    li:not(:last-child) {
        padding-bottom: 1rem;
        margin: 1rem 0;
        border-bottom: 3px solid #eee;
    }

    li header {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    h4 {
        margin: 0;
    }

    .bands a:not(:last-child)::after {
        content: " ";
    }

    small {
        font-size: 0.8rem;
        font-family: var(--title-font);
    }

    .keyword:not(:last-child)::after {
        content: " ";
    }
</style>
