---
import Item from "@components/Item.astro";
import { getEntries } from "astro:content";
import { DateTime } from "luxon";
import cfg from "src/config";

const { event } = Astro.props;

if (!event.data.name) {
    const bands = await getEntries(event.data.performer);
    event.data.name = bands.map((band: any) => band.data.name).join(", ");
}

const cost = event.data.cost?.price 
    ? "$" + event.data.cost.price 
    : event.data.range 
    ? `$${event.data.range[0]} - $${event.data.range[1]}`
    : "Free";

const timezone = cfg.TIMEZONE;
const startDate = DateTime.fromJSDate(event.data.startDate).setZone(timezone);
const doorDate =
    event.data.doorTime &&
    DateTime.fromJSDate(event.data.doorTime).setZone(timezone);
---

<Item item={event}>
    <ul>
        <li class="bands">
            {
                event.data.performer.map((band: any) => (
                    <a href={"/bands/" + band.id}>{band.id}</a>
                ))
            }
        </li>
        <li class="venue">
            <a href={"/venues/" + event.data.location.id}>
                {event.data.location.id}
            </a>
        </li>
        <li class="time">
            <time>
                <a href={"/events/" + startDate.toFormat("yyyy-MM#dd")}>
                    {startDate.toFormat("MMM d,")}
                </a>
                <span>{startDate.toFormat("h:mm a")}</span>
                {
                    doorDate && (
                        <small>({doorDate.toFormat("h:mm a")} Doors)</small>
                    )
                }
            </time>
            <li class="cost">
                {cost}
                {event.data?.cost?.suggested && <small>(suggested)</small>}
            </li>
        </li>
    </ul>

    <style>
        ul {
            list-style: none;
            padding-left: 1.3rem;
        }

        ul a {
            margin: 0;
            display: inline-block;
            margin-right: 0.3rem;
        }

        li {
            position: relative;
            margin: 0;
            margin-left: 1rem;
        }

        li::before {
            position: absolute;
            right: 100%;
            top: 3.5px;
            margin-right: 0.3rem;
            font-size: 0.8rem;
            font-family: var(--title-font);
            width: 1rem;
            text-align: center;
            padding: 0 0.2rem;
        }

        .bands::before {
            content: "ft";
        }
        .venue::before {
            content: "at";
        }

        .time::before {
            content: "on";
        }
        .bands a:not(:last-child)::after {
            content: " ";
        }

        .cost::before {
            content: "for";
        }

        .keyword:not(:last-child)::after {
            content: " ";
        }
    </style>
</Item>
