---
import "../styles.css";

const nav = [
    {
        href: "/events",
        text: "Events",
    },
    {
        href: "/bands",
        text: "Bands",
    },
    {
        href: "/venues",
        text: "Venues",
    },
    {
        href: "/about",
        text: "About",
    },
];
const active = nav.find(({ href }) => Astro.url.pathname.startsWith(href));
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap"
            rel="stylesheet"
        />

        <title>CorvallisALT</title>
    </head>
    <body>
        <header>
            <a href="/">
                <hgroup>
                    <h1>Corvallis<span class="alt">ALT</span></h1>
                </hgroup>
            </a>
            <nav>
                <ul>
                    {
                        nav.map((link) => (
                            <li class={active === link ? "active" : ""}>
                                <a href={link.href}>{link.text}</a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </header>
        <slot />
        <footer>
            <nav>
                <ul>
                    {
                        nav.map(({ href, text }) => (
                            <li>
                                <a href={href}>{text}</a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </footer>
    </body>
</html>

<style>
    nav li {
        border-bottom: 2px solid transparent;
    }
    nav .active {
        border-color: currentColor;
    }

    nav ul {
        font-size: larger;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 2rem 0;
    }

    header a {
        text-decoration: none;
    }

    footer {
        background-color: var(--primary);
        padding: 2rem;
        margin: 5rem -2rem -2rem -2rem;
    }

    footer nav{
        display: flex;
        justify-content: center;
    }

    footer a {
        color: white;
    }
    
</style>
